.App {
  text-align: center;
}

body {
  background-color: #f8f8fa !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DateTime{
  width: 100%;
}

.LogoContent{
  color: #02a499;
  margin-top: 30px;
}

.ListLoader{
  text-align: center !important;
  padding-top: 150px !important;
  padding-bottom: 200px !important;
}

.img_wrp {
  display: inline-block;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.cursor{
  cursor: pointer;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings'; 
  content: "\e114";  
  float: right; 
  color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}

.darkHeader{
  background-color: #f0efef !important;
}

.headerAlign{
  display: flex !important;
  height: 40px !important;
  border-radius: 0px  !important;
  color: #282c34;
  padding-top: 10px;
}

.headerRightAlign{
  padding-top: 10px;
  color: #5c5d5f;
}

.headerRightAlign{
  margin-top: 3px !important;
  margin-left: 15px !important;
}

.accordianLeftTitleText{
    float: left;
}

.accordianRightTitleText{
  float: right;
}

.titleText{
  line-height: 1.2;
}

.ui.styled.accordion .accordion{
   box-shadow:none !important;
   border-radius:0px !important;
}

.accordianSubTitle{
  background-color: #f5f5f5 !important;
  color: #828181 !important;
}

.searchButton {
  border:  solid #282c34 1px;
}

.selectLabel{
  font-size: 15px;
  padding-top: 10px;
  color: dimgray;
  float: right;
}

.successDot {
  text-align: center;
  height: 12px;
  width: 12px;
  background-color: #12B73E;
  border-radius: 50%;
  display: inline-block;
}

.dangerDot {
  text-align: center;
  height: 12px;
  width: 12px;
  background-color: #FF1010;
  border-radius: 50%;
  display: inline-block;
}

.countLabel {
  font-size: 35px;
  color: #f0efef;
  margin-top: -10px !important;
}

.footerPadding{
  margin-top: 200px;
}

.HistoryContainer{
  background-color: #f8f9fa;
  padding: 20px;
}

.HistoryContainerInner{
  padding-left: 30px;
}


.HistoryHeading{
  color: #3f444d;
}

.HistoryMultipleContainer{
  padding: 30px;
}

.HistoryGrayHeader{
  background-color: #d7d9db;
  padding: 10px;
}

.reportFilter{
  margin-top: 35px;
}

.ModalDisplay {
  display: flex !important;
  justify-content: center;
  position: relative !important;
  height: fit-content !important;
}

.reportTableBottom{
  padding-bottom: 100px;
}

.exportLink{
  color: cadetblue !important;
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
}
